*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;

}
header{
    background-color: goldenrod;
    color: black;
    padding: 2rem;
    text-align: center;
}
nav{
    background-color: rgb(214, 200, 43);
    padding: 1rem;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}

nav ul a{
    text-decoration: none;
    color: rgb(230, 14, 14);
    padding: 0.5rem 1rem;
transition: background-color ease-in-out 0.3s;
}
nav ul li a:hover{
    background-color: #555;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Products{
    width: 90vw;
    padding-top: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    
    gap: 20px;
}
.product{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.product img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.product-info{
    width: 100%;
}
.product-info h4,p{
    margin: 10px 0 0 10px;
}
.price{
    color: red;
}
.button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgb(214, 200, 43);
    color: #fff;
}
.button:hover{
    background-color: rgb(173, 160, 12);
}