*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;

}
header{
    background-color: goldenrod;
    color: black;
    padding: 2rem;
    text-align: center;
}
nav{
    background-color: rgb(214, 200, 43);
    padding: 1rem;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}

nav ul a{
    text-decoration: none;
    color: rgb(230, 14, 14);
    padding: 0.5rem 1rem;
transition: background-color ease-in-out 0.3s;
}
nav ul li a:hover{
    background-color: #555;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    width: 200%;
    gap: 1rem;
}
.product img{
    height: 70vh;
    width: 90%;
    object-fit: cover;
}